* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    width: 80%;
    height: 70vh;
    background-image: linear-gradient(#FB5B7B, #FFCB65);
    background-repeat: no-repeat;
    margin: auto;
    
}
.child {
    width: 80%;
    margin: auto;
}
.input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    outline: none;
    font-family: sans-serif;
}
.input::placeholder {
    font-style: italic;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.first-row {
    margin-top: 10px;
    gap: 10px;
}
 .left-profile {
    width: 100%;
    height: 70px;
    background:#fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.right-profile {
    width: 50%;
    height: 70px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.profile1 {
    width: 10%;
    height: auto;
    margin: 10px;
}
.list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: bold;
    list-style-type: none;
    padding-left: 0;
    color: rgb(98, 96, 96);
    font-size: 1rem;
    text-align: left;
}
.user-data {
  margin-top: 10px;    
}




@media (max-width: 768px) {

    .child {
    width: 90%;
  }
  .list {
    font-size: 0.8rem;
  }
  .user-id {
    font-size: 0.9rem;
  }
    .left-profile {
        margin-left: 0px;
        width: 100%;
        height: 70px;
    } 
    .input {
        width: 100%;
        margin-left: 0px;
    }
    .profile1 {
        width: 20%;
        height: auto;
       
    }
}

@media (max-width: 414px) {
    .container {
        display: grid;
        grid-template-columns: 500px;
    }
    .body {
        width: 100%;
        height: fit-content;
        overflow-x: hidden; 
    }
    .child {
        width: fit-content;
    }
    .left-profile {
        margin-left: 20px;
        width: 73%;
        height: 70px;
    }
    .input {
        width: 73%;
        margin-left: 20px;
    }
    .profile1 {
        width: 20%;
        height: auto;
       
    }
}


@media (max-width: 393px) {
    .container {
        display: grid;
        grid-template-columns: 500px;
    }
    .body {
        width: 100%;
        height: fit-content;
        overflow-x: hidden; 
    }
    .child {
        width: fit-content;
    }
    .left-profile {
        margin-left: 18px;
        width: 70%;
        height: 70px;
    }
    .input {
        width: 70%;
        margin-left: 18px;
    }
    .profile1 {
        width: 20%;
        height: auto;
       
    }
}

@media (max-width: 375px) {
    .container {
        display: grid;
        grid-template-columns: 500px;
    }
    .body {
        width: 100%;
        height: fit-content;
        overflow-x: hidden; 
    }
    .child {
        width: fit-content;
    }
    .left-profile {
        margin-left: 10px;
        width: 63%;
        height: 70px;
    }
    .input {
        width: 63%;
        margin-left: 10px;
    }
    .profile1 {
        width: 20%;
        height: auto;
       
    }
}

@media (max-width: 360px) {
    .container {
        display: grid;
        grid-template-columns: 500px;
    }
    .body {
        width: 100%;
        height: fit-content;
        overflow-x: hidden; 
    }
    .child {
        width: fit-content;
    }
    .left-profile {
        margin-left: 20px;
        width: 63%;
        height: 70px;
    }
    .input {
        width: 63%;
        margin-left: 20px;
    }
    .profile1 {
        width: 20%;
        height: auto;
       
    }
}
@media (max-width: 320px) {
    .container {
        display: grid;
        grid-template-columns: 500px;
    }
    .body {
        width: 100%;
        height: fit-content;
        overflow-x: hidden; 
    }
    .child {
        width: fit-content;
    }
    .left-profile {
        margin-left: 10px;
        width: 60%;
        height: 70px;
    }
    .input {
        width: 60%;
        margin-left: 10px;
    }
    .profile1 {
        width: 20%;
        height: auto;
       
    }
}

@media (max-width: 162px) {
    .container {
        display: grid;
        grid-template-columns: 100px;
    }
    .body {
        width: 100%;
        height: fit-content;
        overflow-x: hidden; 
    }
    .child {
        width: fit-content;
    }
    .left-profile {
        margin-left: 2px;
        width: 15%;
        height: 70px;
    }
    .input {
        width: 15%;
        margin-left: 2px;
    }
    .profile1 {
        width: 20%;
        height: auto;
       
    }
}
